html {
    margin: 0;
    padding: 0;
}
body {
    font-size: 13pt;
    background-color: cadetblue;
    padding: 10px;
    margin: 0;
}
h1 {
    font-size: 15pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
p {
    padding: 0;
    margin: 0;
}
.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#header {
    background-size: cover;
}
#header img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}
#header p {
    font-size: 25pt;
    color: #3b464c;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.selected {
    background-color: #f36f48;
    font-weight: bold;
    color: white;
}
li {
    margin-bottom: 15px;
    font-weight: bold;
}

iframe, audio {
    display: block;
    margin: 0 auto;
    border: 3px solid #3fb6b2;
}
hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}
form {
    text-align: center;
    margin-top: 0;
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}
.face {
    transform: scale(0.4);
    margin: 0 auto;
    display: block;
    margin-top: -35px;
    margin-bottom: -25px;
}
 .history {
     margin: 0;
     padding: 5px;
     background-color: darkcyan;
 }
.b1{
    align-content:center ;
    text-decoration-color: cadetblue;
}
#A2{
    text-align: center;
}
.history > h1 {
    margin: 10px;
    padding: 5px;
    background-color:transparent;
}

.subHistory > h2, p {
    margin: 4px;
    font-size: 110%;
}
header{
    text-align: center;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    background-color: transparent;
    color: whitesmoke;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: lightslategray;
    color: white;
}
button {
    size: auto;
    background-color:lightslategray;
    margin: 20px;
    padding : 10px;
    text-align: center;
}
header {
    width: 100%;
    height: auto;
}
